%h3 Hello my name is Kristoffer
Im a student at CraftAcademy so i am a code buster!
The Learning process has gone green, i have this issue that
i want to code to be better and better.
Is not just by coding, need to co-op together as a team and learn
from each other. Like a family to a short time, and on.
%br
%br
More about me
I come from a little town named Trollhattan in Sweden, i lived in Sweden right
now but in the city named Gothenburg. I have lived here less than a year but
i like to live in Gothenburg!
